@charset "utf-8";
$fonntsize:12px;
body,div,p,ol,ul,li,dl,dd,dt,form,table,tr,td,input,h1,h2,h3,h4,h5,h6,figure,fieldset,textarea{
    margin:0;
    padding:0;
}
img{
    display:block;
    border:none;
}
a{
    text-decoration:none;
}
ul li{
    list-style:none;
}

body {
	font-family: 'Microsoft Yahei';
	background:#f5f5f5;
}
// top
.top{
	height: 30px;
	width:100%;
	background:#f4f4f4;
	border-bottom:1px solid #e5e5e5;
	position: relative;
	#erweima{
		width: 108px;
		height: 140px;
		border:1px solid #e5e5e5; 
		position: absolute;
		top:30px;
		right: 24px;
		display: none;
		p{
			text-align: center;
			font-size: 12px;
			line-height: 20px;
			color: #666;
		}
		img{
			margin: 0 auto;
		}
	}
}
.top_left{
	font-size:$fonntsize - 4;
	float: left;
	margin-left:38px;
	line-height:30px;
	img{
		float: left;
		margin-right:6px;
		margin-top:8px;
	}
	a{
		color:#666666;
		:hover{
			color:red;
		}
	}
}
.top_right{
	width: 375px;
	height: 30px;
	float: right;
	margin-right:38px;
	line-height:30px;
	#user{
		height: 31px;
		width:90px;
		display: none;
		p{
			text-align:center;
			float: left;
			color:red;
		}
	}
	li{
		font-size: 12px;
		float: left;
		.top_right_1{
			width: 90px;
			height: 32px;
			padding: 0 10px;

		}
		#cook{
			display:block;
		}
		div{
			width: 68px;
			height: 32px;
			padding: 0 10px;
			text-align: center;
		}
	}
	a{	
		position: relative;
		/*margin-right:20px;*/
		color:#666666;
	/*	display: block;
		float: left;*/
		/*width: 50px;
		height: 32px;*/
		.iconfont{
			font-size:20px;
			line-height:20px;
			/*position: absolute;
			left: -17px;
			top:-1px;*/
			vertical-align:middle;
		}
		.icon-shouji{
			font-size: 14px;
			/*display: block;*/
		}
	}
	:hover{
		color:red;
		}
	span{
		color:red;
		display: block;
		float: left;
	}
	:nth-child(2){
		color:red;
	}

}

// search
.search_1{
	width:100%;
	background:#fff;
}
.search{
	width:1228px;
	margin:0 auto;
	height:150px;
	background:#fff;
	.search_logo{
	float:left;
	}
	.search_left {
		width:960px;
		float:right;
		margin-top:20px;
		input{
			display:block;
			height:34px;
			width:700px;
			float:left;
			border:2px solid red;
			background-color:transparent;
			outline:none;
			margin-top:32px;
		}
		button{
		display:block;
		height:38px;
		width:50px;
	 	background:#ff4040;
		outline:none;
		margin-top:32px;
		float: left;
		border:0px;
		.iconfont{
			font-size: 26px;
			color: #fff;
		}
		}
		.search_bottom{
			width:700px;
			a{	
				color:#666;
				font-size:$fonntsize + 2;
				margin-right:10px;
				line-height:26px;
			}
			a:hover{
				color:red;
			}
		}

	}
.search_right{
		float:right;
		width:130px;
		height:38px;
		text-align:center;
		border:1px solid #d7d7d7;
		line-height:38px;
		margin-top:32px;
		a{
			color: #333;
		}
	}
.search_nav{
		width:960px;
		height:34px;
		float:right;
		line-height:34px;
		a{	
			margin-right:30px;
			color:#333333
		}
		:hover{
			color:red;
			}
	}
}

// banner
 .banner .swiper-container {
      width: 1022px;;
      height: 400px;
      margin-right:63px;
		
    }
   .banner .swiper-slide {
      /* Center slide text vertically */
      // display: -webkit-box;
      // display: -ms-flexbox;
      // display: -webkit-flex;
      // display: flex;
      // -webkit-box-pack: center;
      // -ms-flex-pack: center;
      // -webkit-justify-content: center;
      // justify-content: center;
      // -webkit-box-align: center;
      // -ms-flex-align: center;
      // -webkit-align-items: center;
      // align-items: center;
    }
.banner{
	width:1022px;
	height: 400px;
	margin:0 auto;
	float: right;
	img{
		width:100%;
		// height: 400px;
	}
}
.nav_left ul li {
	.iconfont{
	display: inline;
	}
	.icon-daocha{
		font-size: 20px;
	}
}
// section
.senction{
	width:100%;
	background:#fff;
}
.senction_one{
	width:1222px;
	margin:0 auto;
	.senction_one_01{
		position:relative;
		// margin-top:10px;
		float: left;
		img{
			display: block;
			height:140px;
			width:200px;
		}
		.senction_one_left{
			position: absolute;
			bottom:10px;
			left:60px;
			display:block;
			height:26px;
			width:80px;
			background: #b5012f;
			color:#fff;
			font-size:$fonntsize;
			text-align:center;
			line-height:26px;
			border-radius:26px;
		}
	}
	.senction_one_02{
		width:1022px;
		height:140px;
		float: right;
		margin-top:10px;
		background: #fff;
		a{
			display:block;
			width:215px;
			height:110px;
			padding:15px 20px;
			float: left;
			background: #fff;
			.senction_one_03{
				width:100px;
				height:92px;
				float: left;
				.senction_one_02_01{
					font-size:$fonntsize;
					width:100px;
					height:40px;
					margin-bottom:12px;
					color:#666;
				}
				.senction_one_02_02{
					font-size:$fonntsize;
					width:100px;
					height:18px;
					line-height:18px;
					margin-bottom:2px;
					color: #ff4040;
					font-weight:600;
				}
				.senction_one_02_03{
					font-size:$fonntsize;
					width:100px;
					height:20px;
					line-height:20px;
					color: #aaa;
				}
			}
			.senction_one_04{
				width:110px;
				height:110px;
				float: right;
				img{
					display:block;
					width:110px;
					height:110px;
				}
			}
			
		}
	}
}

   .senction_one .swiper-container {
      width: 1022px;
      height: 140px;
      margin-top:10px;
    }
    .senction_one .swiper-slide {
      // text-align: center;
      // font-size: 18px;
      // background: #fff;

      // /* Center slide text vertically */
      // display: -webkit-box;
      // display: -ms-flexbox;
      // display: -webkit-flex;
      // display: flex;
      // -webkit-box-pack: center;
      // -ms-flex-pack: center;
      // -webkit-justify-content: center;
      // justify-content: center;
      // -webkit-box-align: center;
      // -ms-flex-align: center;
      // -webkit-align-items: center;
      // align-items: center;
    }


.senction_two{
	width:1222px;
	height:580px;
	margin:0 auto;
	background:#fa198e;
	.senction_two_01{
		width:100%;
	}
	.senction_two_02{
		width:100%;
		margin-top:5px;
		margin-left:5px;
		.senction_two_02_01{
			
			a{	
				width:230px;
				height:128px;
				float: left;
				margin:6px;
				:hover{
				 position: relative;
				 top:-6px;
				 left:-5px;
				 width:240px;
				 height:140px;
				 // transition:1s;
				}
			}
		}
	}
}

.senction_three{
	height: 400px;
	width: 1222px;
	margin:0 auto; 
	background-color: #fff;
	margin-top:20px;
	
}
.senction_three_01 img{
	display: block;
	height: 400px;
	width: 205px;

}
.senction_three_01{
	float: left;
	height: 400px;
	width: 205px;
	margin-right: 12px;
}
.senction_three_02{
	width: 484px;
	height: 400px;
	float: left;
	border-top:1px solid red; 
}
.senction_three_02_01{
	display: block;
	width: 140px;
	height: 32px;
	background-color: #fb6233;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
}
.senction_three_02_02{
	float: left;
	border-right: 1px solid #f0f0f0;
}
.senction_three_02_02 img{
	height: 360px;
	width: 250px;
}
.senction_three_02_03{
	float: right;
	height: 180px;
	width: 232px;
}
.senction_three_02_03 a{
	display: block;
	height: 180px;
	width: 194px;
	margin: 0 auto;
	border-bottom: 1px solid #f0f0f0;
}
.senction_three_02_04{
	height: 18px;
	width: 194px;
	color: red;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 0;
}
.senction_three_02_05{
	height: 40px;
	width: 90px;
	font-size: 14px;
	margin: 0;
	color: #333339;
}
.senction_three_02_03 a img{
	display: block;
	height: 110px;
	width: 110px;
	float: right;
	position: relative;
	left: 0px;
	top:0px;
}
.senction_three_03{
	height: 400px;
	width: 453px;
	float: right;
	border-top:1px solid red; 
}
.senction_three_03_01{
	display: block;
	width: 140px;
	height: 32px;
	background-color: #f22e31;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
}
.senction_three_03_02{
	height: 34px;
	width: 344px;
	margin: 0 auto;
}
.senction_three_03_02 a{
	display: block;
	float: left;
	height: 34px;
	width: 86px;
	text-align: center;
	line-height: 34px;
	font-size: 12px;
	color: #666;
}
.senction_three_03_03{
	width: 360px;
	height: 326px;
	margin: 0 auto;
	:hover span{
		color:red;
	}
}
.senction_three_03_03 a{
	display: block;
	width: 100px;
	height: 118px;
	float: left;
	margin: 18px 8px;
}
.senction_three_03_03 a img{
	display: block;
	width: 85px;
	height: 85px; 
	margin: 0 auto;
}
.senction_three_03_03 a span{
	display: block;
	width: 100px;
	height: 18px;
	text-align: center;
	color: #333;
	font-size: 12px;
	margin-top:15px;
}
.senction_four{
	height:100px;
	width:1222px;
	margin:0 auto;
	margin-top:20px;
	a img{
		display:block;
		width:100%;
	}
}
.senction_five{
	width:1222px;
	height:500px;
	margin:0 auto;
	margin-top:20px;
	h4{
		padding:12px;
		font-size:20px;
		color:#645144;
	}
	._left{
		float: left;
		height:450px;
		width:930px;
		background-color: #77e2da;
		._left_01{
			float: left;
			img{
			height:450px;
			width:316px;
			}
		}
		

		._left_02{
			float: left;
			width:609px;
			height: 442px;
			padding:5px 5px 5px 0;
			a{
				display:block;
				float: left;
				margin-bottom:1px;
			}
			img{
				width:405px;
				height:220px;
			}
			.f1{
				color: #333;
			}
			p{
				height:24px;
				width:150px;
				color:#999;
				line-height:24px;
				font-size:12px;
				}
			.l1_01{
				display:block;
				width:183px;
				height: 200px;
				background:#fff;
				padding:20px 0 0 20px;
				float: right;
				img{
					height: 140px;
					width:140px;
					float: right;
				}
			}
			.l1_02{
				display:block;
				width:183px;
				height: 200px;
				background:#fff;
				padding:20px 0 0 20px;
				float: right;
				
				img{
					height: 140px;
					width:140px;
					float: right;
				}
			}
			.l2{
				width:405px;
				height: 221px;
			}
			.l2_01{
				display:block;
				width:182px;
				height: 200px;
				background:#fff;
				padding:20px 0 0 20px;
				float: left;
				img{
					height: 140px;
					width:140px;
					float: right;
				}
			}
			.l2_02{
				display:block;
				width:182px;
				height: 200px;
				background:#fff;
				padding:20px 0 0 20px;
				float: right;
				img{
					height: 140px;
					width:140px;
					float: right;
				}
			}
		}
	}
	._right{
		float: right;
		height:450px;
		width:292px;
		a{
			display:block;
			width:137px;
			height:138px;
			padding:12px 0 0 9px;
			position: relative;
			float: left;
			background:#ffe6ee;
			p{
				font-size:12px;
				color:#333;
				height:26px;
				line-height:26px;
			}
			.r1{
				color:#f06291;
			}
			.r2{
				height:3px;
				width:20px;
				background:#f06291;
			}
			img{
				height:100px;
				width:100px;
				float: right;
				position: absolute;
				left:46px;
				top:50px;
			}

		}
		.c2{
			background:#fff3e4;
			.r1{
				color:#ee9832;
			}
			.r2{
				background:#ee9832;
			}
		}
		.c3{
			background:#e9fbf0;
			.r1{
				color:#54a472;
			}
			.r2{
				background:#54a472;
			}
		}
		.c4{
			background:#f9eee9;
			.r1{
				color:#ad7d62;
			}
			.r2{
				background:#ad7d62;
			}
		}
		.c5{
			background:#f0f8ff;
			.r1{
				color:#468bcb;
			}
			.r2{
				background:#468bcb;
			}
		}
		.c6{
			background:#e2f8f2;
			.r1{
				color:#54a472;
			}
			.r2{
				background:#54a472;
			}
		}
	}
}
.sention_six{
	height:430px;
	width:1222px;
	background-color: #333;
	margin:0 auto;
	margin-top:20px;
		._left{
		height:410px;
		width:236px;
		padding-top:20px;
		background-color: #fab165;
		float: left;
			h4{
			width:100%;
			height:32px;
			a{
				display:block;
				height: 32px;
				width:121px;
				margin:0 auto;
				color:#feeadd;
				font-size:18px;
				text-align:center;
				border-bottom:1px solid #feeadd;
				font-weight:100;
				}
			}
			p{
				height:24px;
				width:100%;
				color:#feeadd;
				font-size: 12px;
				line-height:24px;
				text-align:center;
			}
		}
		.l1{
			display:block;
			height:275px;
			width: 195px;
			background-color: #fff;
			margin:0 auto;
			margin-top:20px;
			p{
				height:40px;
				width:195px;
				line-height:40px;
				text-align:center;
				color:#666;
			}
			.g1{
				font-size: 16px;
				color:#fab165;
				height:20px;
				line-height:20px;
				padding-top:20px;
			}
			img{
				height: 130px;
				width:130px;
				margin:0 auto;
				padding-top:5px;
			}
		}
		 .swiper-container {
		      width: 195px;
		      height: 295px;
		      margin:0 auto;
		    }
	.bt{
		height: 49px;
		width:100%;
		margin-top:10px;
		p{
			height: 21px;
			width:43px;
			border-right:1px solid #fff;
		}
	}
	._cen{
		height: 430px;
		width:744px;
		background: #fff;
		float: left;
		.c1{
			width:742px;
			height: 40px;
			border-right:1px solid #f5f5f5;
			border-bottom:1px solid #f5f5f5;
			ul li{
				float: left;
				a{
					margin:0 10px;
					font-size:12px;
					color:#aaaaaa;
					line-height:40px;
				}
			}
		}
		.c2{
			height:195px;
			width:744px;
			background-color: #fff;
			.c21{
				height: 175px;
				width:248px;
				float: left;
				a{
					display:block;
					width:247px;
					height: 174px;
					border-right:1px solid #f5f5f5;
					border-bottom:1px solid #f5f5f5;
					padding-top:20px;
					position: relative;
					p{
						height: 24px;
						width:140px;
						margin-left:20px;
						line-height:24px;
						font-size:14px;
						color:#333;
					}
					.c22{
						color:#f78b4b;
					}
					img{
						width:130px;
						height: 130px;
						position: absolute;
   						right: 10px;
   						bottom: 10px;
   						
					}
					:hover{
   						right: 20px;
   						transition:all .3s;
					}
				}
			}
		}
	}
	._right{
		height: 430px;
		width:242px;
		background: #fff;
		float: left;
		p{
			height: 20px;
			text-align: center;
			font-size: 14px;
			font-weight: 600;
			line-height:20px;
			margin-top:15px;
		}
		.r1{
			width:198px;
			height: 365px;
			padding:0 22px;
			li{
				margin-top:15px;
			}
			a{
				display:block;
				width:198px;
				height: 61px;
				img{
					height: 60px;
					width:60px;
					float: left;
				}
				p{
					float: right;
					width:125px;
					height:40px;
					font-size: 12px;
					color:#333;
					text-align: left;
					margin-top:0;
				}
				.r11{
					height:16px;
					margin-top:5px;
					color:#ff4069;
					line-height:16px;
				}
			}
		}
	}
}
.foot{
	/*height: 450px;*/
	width: 100%;
	background-color: #fff;
	.foot_top{
    display: block;
    width: 1228px;
    overflow: hidden;
    margin: 0 auto;
    /*background-color: red;*/
    padding: 30px 0;
    border-bottom: 1px solid #ebebeb;
    margin-top:20px;
	    a{
		float: left;
	    display: block;
	    width: 205px;
	    overflow: hidden;
	    margin: 0 51px;
		}
		img{
			vertical-align: top;
			float: left;
		    display: block;
		    width: 66px;
		    height: 66px;
		    margin-right: 15px;
		}
		b{
			display: block;
		    margin-top: 10px;
		    font-size: 16px;
		    color: #333;
		}
		span{
		    font-size: 14px;
		    color: #999;
		    line-height: 26px;
		}
	}
	.foot_cen{
	margin: 0 auto;
    width: 1228px;
	height: 152px;
	padding: 20px 0 20px;
		.foot_cen_01{
			float: left;
		    padding-left: 15px;
		    dl{
			float: left;
		    display: block;
		    width: 195px;
		    dt{
			height: 32px;
		    padding: 0 8px;
		    font-size: 14px;
		    color: #666;
		    line-height: 32px;
			}
				dd{
				height: 24px;
			    padding: 0 8px;
			    line-height: 24px;
			    font-size: 12px;
			    a{
					color: #666;
				}
				a:hover{
					color: red;
				}

			}

		}

		}
		.foot_cen_03{
		    float: left;
		    margin-right: 50px;
		    color: #666;
		}
		.foot_cen_02{
		    width: 280px;
		    float: left;
		    margin-right: -50px;
			p{
				line-height: 32px;
			    font-size: 14px;
			    font-weight: 600;
			    color: #666;
			        
			}
			img{
				width: 90px;
			    height: 90px;
			}
		}
	}
	.foot_bott{
	height: 115px;
	width: 100%;
	p{
	    text-align: center;
	    line-height: 100%;
	    margin: 15px 0;
	    font-size: 12px;
	    color: #666;
	    a{
			font-size: 12px;
			color: #666;
		    margin: 0px 10px;
		}
		a:hover{
			color:red;
		}
	}
	.foot_bott_01{
	text-align: center;
	padding: 10px 0 20px;
	img{
		display:inline;
	}
}
	}


}
.senction_seven{
	height: 430px;
	width: 1222px;
	margin: 0 auto;
	margin-top:20px; 
	background-color: #fff;
	
	.senction_seven_left{
		width: 606px;
		height: 100%;
		float: left;
		/*background-color: red;*/
		._top{
			width: 580px;
			height: 25px;
			padding: 12px 13px;
			background-color: #fe8585;
			h4{
				height: 24px;
				width: 100px;
				float: left;
				text-align: center;
				line-height: 24px;
				font-size: 18px;
				font-weight: 100;
				a{
					color: #fff;
				}
			}
			._top_01{
				width: 432px;
				height: 24px;
				float: right;
				ul{
					width: 432px;
					height: 24px;
					/*margin-left: 48px;*/
					li{
						float: left;
						color: #fff;
						a{
							color: #fff;
							font-size: 12px;
							margin: 0 8px;

						}
						a:hover{
							font-weight: 600;
						}
					}
				}
			}
		}
		._bottom{
			width: 100%;
			height: 381px;
			/*background-color: blue;*/
			._cen{
				height: 100%;
				width: 234px;
				float: left;
			}
			#_left{
				height: 200px;
				width: 200px;
				float: left;
				margin: 60px 17px 0;


				/*a{
					display: block;
					height: 356px;
					width: 100%
				}*/
				/*a{
					display: block;
					height: 356px;
					width: 100%
					padding-top: 25px;
					img{
						height: 356px;
						width: 100%;
					}
				}*/
			}
			._cen1{
				height: 381px;
				width: 185px;
				float: left;
				border-left: 1px solid #f5f5f5;
				._top1{
				width: 185px;
				height: 190px;
				
				border-bottom: 1px solid #f5f5f5;
				a{	
					display: block;
					height: 170px;
					width: 185px;
					padding-top:20px;
					position: relative;
					p{
						height: 24px;
						width: 100px;
						line-height: 24px;
						font-size: 14px;
						color: #333;
						margin-left: 20px;
					}
					.tt1{
						color: red;
					}
					img:hover{
						right:20px;
						transition: all 0.3s;
					}
					img{
						height: 105px;
						width: 105px;
						position: absolute;
						bottom: 10px;
						right: 10px;
					}
				}
			}
			}

		}
	}
	.senction_seven_right{
		width: 606px;
		height: 100%;
		float: right;
		/*background-color: red;*/
		._top{
			width: 580px;
			height: 25px;
			padding: 12px 13px;
			background-color: #6cc8ff;
			h4{
				height: 24px;
				width: 100px;
				float: left;
				text-align: center;
				line-height: 24px;
				font-size: 18px;
				font-weight: 100;
				a{
					color: #fff;
				}
			}
			._top_01{
				width: 432px;
				height: 24px;
				float: right;
				ul{
					width: 432px;
					height: 24px;
					/*margin-left: 48px;*/
					li{
						float: left;
						color: #fff;
						a{
							color: #fff;
							font-size: 12px;
							margin: 0 8px;

						}
						a:hover{
							font-weight: 600;
						}
					}
				}
			}
		}
		._bottom{
			width: 100%;
			height: 381px;
			/*background-color: blue;*/
			._cen{
				height: 100%;
				width: 234px;
				float: left;
			}
			#_left{
				height: 200px;
				width: 200px;
				float: left;
				margin: 60px 17px 0;


				/*a{
					display: block;
					height: 356px;
					width: 100%
				}*/
				/*a{
					display: block;
					height: 356px;
					width: 100%
					padding-top: 25px;
					img{
						height: 356px;
						width: 100%;
					}
				}*/
			}
			._cen1{
				height: 381px;
				width: 185px;
				float: left;
				border-left: 1px solid #f5f5f5;
				._top1{
				width: 185px;
				height: 190px;
				border-bottom: 1px solid #f5f5f5;
				a{	
					display: block;
					height: 170px;
					width: 185px;
					padding-top:20px;
					position: relative;
					p{
						height: 24px;
						width: 100px;
						line-height: 24px;
						font-size: 14px;
						color: #333;
						margin-left: 20px;

					}
					.tt1{
						color: red;
					}
					img{
						height: 105px;
						width: 105px;
						position: absolute;
						bottom: 10px;
						right: 10px;
					}
					img:hover{
						right:20px;
						transition: all 0.3s;
					}
				}
			}
			}

		}
	}
}

// 侧边栏
#aside{
	height: 430px;
	width: 36px;
	position: fixed;
	left: 15px;
	top: 70px;
	display: none;
	a{	
		display: block;
	    width: 24px;
	    height: 36px;
	    padding: 5px 6px;
	    margin-bottom: 2px;
	    background-color: #fff;
	    color: #666;
	    line-height: 18px;
	    font-size: 12px;
	}
}
._top_search{
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 9999;
}
.top_search{
	width: 1222px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	a{
		float: left;
		height: 60px;
		height: 60px;
		img{
			height: 100%;
		}
	}
	.top_search_right{
		float: left;
		margin-left:45px; 
	}
	input{
			display:block;
			height:34px;
			width:700px;
			float:left;
			border:2px solid red;
			background-color:transparent;
			outline:none;
			margin-top:15px;
			color: #ccc;
	}
	button{
		display:block;
		height:38px;
		width:50px;
	 	background:red;
		outline:none;
		margin-top:15px;
		float: left;
		border:0px;
		.iconfont{
			font-size: 26px;
			color: #fff;
		}
		}
}
/*@media screen and(min-height: 200px){
	.aside{
		display: block;
	}
}
@media screen and(max-height: 200px){
	.aside{
		display: none;
	}
}*/	
/*#l_one:hover{
	background-color: #645144;
	color: #fff;
}
#l_two:hover{
	background-color: #f78b4b;
	color: #fff;
}

#l_three:hover{
	background-color: #0bcd96;
	color: #fff;
}
#l_four:hover{
	background-color: #ff87d0;
	color: #fff;
}
#l_five:hover{
	background-color: #fe8282;
	color: #fff;
}
#l_six:hover{
	background-color: #925740;
	color: #fff;
}
#l_seven:hover{
	background-color: #5c9bf1;
	color: #fff;
}
#l_eight:hover{
	background-color: #6d62da;
	color: #fff;
}
#l_nine:hover{
	background-color: #ff4040;
	color: #fff;
}*/

