@charset "utf-8";
body,div,p,ol,ul,li,dl,dd,dt,form,table,tr,td,input,h1,h2,h3,h4,h5,h6,figure,fieldset,textarea{
    margin:0;
    padding:0;
}
img{
    display:block;
    border:none;
}
a{
    text-decoration:none;
}
ul li{
    list-style:none;
}

body {
	font-family: 'Microsoft Yahei';
	background:#f5f5f5;
}
/*top*/
.top{
	height: 48px;
	/*width: 100%;*/
	border:1px solid #e1e1e1;
	background-color: #fff;
	padding: 16px;
	.top_left{
		width: 1200px;
		margin: 0 auto;
	}
	.logo{
		float: left;
	}
	p{	
		height: 100%;
		line-height: 100%;
		float: right;
		font-size: 14px;
		color: #ccc;
		padding-right: 60px;
		a{
			color: blue;
		}
	}
}
.cen{
	position: relative;
    border-bottom: 1px solid #f4f4f4;
    background: #fcfcfc;
    padding: 30px 0 40px;
    img{
    	position: absolute;
    	left: 0;
    	top: 0;
    	opacity: .3;
    }
    h4{
    	height: 50px;
    	width: 330px;
    	font-size: 24px;
    	line-height: 50px;
    	margin:0 auto;
    	text-align: center;
    }
    .cen_top{
    	width: 330px;
    	height: 463px;
    	margin:0 auto;
    	li{
    		position: relative;
    		margin-top: 10px;
    		#name{
    			width: 84px;
    			height: 15px;
    			line-height: 15px;
    			font-size: 12px;
    			color: #666;
    			padding: 10px;
    			background-color: #fff4d7;
    			position: absolute;
    			left: 348px;
  				top: 10px;
  				display: none;

    		}
    		#name4{
    			width: 110px;
    			height: 15px;
    			line-height: 15px;
    			font-size: 12px;
    			color: #666;
    			padding: 10px;
    			background-color: #fff4d7;
    			position: absolute;
    			left: 348px;
  				top: 10px;
  				display: none;

    		}
    		#name2{
    			max-width: 160px;
    			line-height: 20px;
    			color: #666;
    			height: 40px;
    			line-height: 20px;
    			font-size: 12px;
    			background-color: #ccc;
    			padding: 10px;
    			position: absolute;
    			left: 348px;
  				top: -5px;
  				display: none;

    		}
    		#phone3{
    			max-width: 160px;
    			line-height: 20px;
    			color: #666;
    			height: 40px;
    			line-height: 20px;
    			font-size: 12px;
    			background-color: #ccc;
    			padding: 10px;
    			position: absolute;
    			left: 348px;
  				top: -5px;
  				display: none;

    		}
    		#phone4{
    			width: 110px;
    			height: 15px;
    			line-height: 15px;
    			font-size: 12px;
    			color: #666;
    			padding: 10px;
    			background-color: #fff4d7;
    			position: absolute;
    			left: 348px;
  				top: 10px;
  				display: none;

    		}
    		#userword3{
    			max-width: 160px;
    			line-height: 20px;
    			color: #666;
    			height: 40px;
    			line-height: 20px;
    			font-size: 12px;
    			background-color: #ccc;
    			padding: 10px;
    			position: absolute;
    			left: 348px;
  				top: -5px;
  				display: none;

    		}
    		#userword5{
    			width: 84px;
    			height: 15px;
    			line-height: 15px;
    			font-size: 12px;
    			color: #666;
    			padding: 10px;
    			background-color: #ccc;
    			position: absolute;
    			left: 348px;
  				top: 10px;
  				display: none;
    		}
    		#userword7{
    			width: 100px;
    			height: 15px;
    			line-height: 15px;
    			font-size: 12px;
    			color: #666;
    			padding: 10px;
    			background-color: #fff4d7;
    			position: absolute;
    			left: 348px;
  				top: 10px;
  				display: none;

    		}
    		#userword8{
    			width: 120px;
    			height: 15px;
    			line-height: 15px;
    			font-size: 12px;
    			color: #666;
    			padding: 10px;
    			background-color: #fff4d7;
    			position: absolute;
    			left: 348px;
  				top: 10px;
  				display: none;
    		}

    		span{
    			display: block;
    			width: 70px;
    			height: 50px;
    			font-size: 14px;
    			line-height: 50px;
    			position: absolute;
    			left: 20px;
    			top:0;
    			color: #666;
    			text-align: left;
    		}
    		input{
    			display: block;
    			outline: none;
    			border:none;
    			border:1px solid #ccc;
    			border-radius: 4px;
    			height: 52px;
    			width: 330px;
    			z-index: 999;
    		}
    		div{
    			font-size: 12px;
    			text-align: center;
    			height: 35px;
    			width: 330px;
    			line-height: 35px;
    		}
    		.zc{
    			background-color: red;
    			font-size: 16px;
    			color: #fff;
    		}
    	}
    }
}
.bottom{
	width: 980px;
    margin: 20px auto 0;
    text-align: center;
    font-size: 12px;
    a{
   	margin: 0 8px;
    color: #333;
    }
    a:hover{
    	color: red;
    }
    p{
    margin-top: 10px;
    color: #333;
    }
}